:root {
    --text-color:  rgb(240, 187, 72)
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 1rem;
    background-color: #111;
    height: 100vh;
    line-height: 1.5;
    margin: 0 auto;
}

button,
input,
label {
    line-height: 1.1;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
    color: var(--text-color);
}
#station {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}
#tv {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(./img/tv.png);
    background-size: cover;
    background-position: top;
}
.wIcon{
    display: none;
}
.widget {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-right: 10px;
}
#terminal {
    position: absolute;
    border: 2px solid var(--text-color);
    text-shadow: 0 0 5px  var(--text-color);
    font-size: 1.3rem;
    bottom: 0px;
    padding: 10px;
    height: 60px;
    width: 100%;
    background-color: black;
}
#terminal:focus {
    outline: none;
}
::placeholder {
    color: var(--text-color);
}
